<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Departamento</th>
    <th scope="col">Telefono</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Kevin Molina</td>
    <td>ISC</td>
    <td>2871551830</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>GUILLERMINA</td>
    <td>IEE</td>
    <td>9220000000</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>wendy</td>
    <td>ISC</td>
    <td></td>
  </tr>
  </tbody>
</table>
