<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/richard.jpeg" alt="">
    <h2 class="fw-normal">Richard Stallman</h2>
    <p>Richard Matthew Stallman (Manhattan, Nueva York; 16 de marzo de 1953), con frecuencia abreviado como «rms»,1​ es un físico, programador estadounidense, activista y fundador del movimiento del software libre, del sistema operativo GNU y de la Free Software Foundation (Fundación para el Software Libre).</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/linus.jpeg" alt="">
    <h2 class="fw-normal">Linus Torvalds</h2>
    <p>Linus Benedict Torvalds (Helsinki, Finlandia, 28 de diciembre de 19691​) es un ingeniero de software finlandés-estadounidense,2​ conocido por iniciar y mantener el desarrollo del kernel (en español, núcleo) Linux, basándose en el sistema operativo libre Minix creado por Andrew S. Tanenbaum y en algunas herramientas, varias utilidades y los compiladores desarrollados por el proyecto GNU. Actualmente es responsable de la coordinación del proyecto. También ha desarrollado el software de control de versiones Git.</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="assets/bill.jpeg" alt="">
    <h2 class="fw-normal">Bill Gates</h2>
    <p>William Henry Gates III (Seattle, Washington; 28 de octubre de 1955), conocido como Bill Gates, es un magnate empresarial, desarrollador de software, inversor, autor y filántropo estadounidense. Es cofundador de Microsoft, junto con su difunto amigo de la infancia Paul Allen. Durante su carrera en Microsoft, Gates ocupó los cargos de presidente, director ejecutivo (CEO), presidente y arquitecto jefe de software, además de ser el mayor accionista individual hasta mayo de 2014. Fue uno de los principales empresarios de la revolución de las microcomputadoras de las décadas de 1970 y 1980.</p>
    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
